.v-container {
  padding-top: 18px;
  padding-bottom: 0;
}

@media (min-width: 960px) {
  .v-container {
    max-width: min(100%, 1450px);
  }
}

@media (min-width: 1264px) {
  .v-container {
    max-width: min(100%, 1450px);
  }
}

@media (min-width: 1904px) {
  .v-container {
    max-width: min(100%, 1450px);
  }
}
